.about {
    background-image: radial-gradient(blue, white, gray, yellow, black);
    margin-top: 25px;
    margin-bottom: 75px;
}

h1 {
    color: antiquewhite;
}

body {background-color: navy;
    font-family: cursive;
    color: lightslategrey;

}