.product {
    background-color: white;
    border: 1px solid blue;
    margin-bottom: 12px;

    display: inline-block;
    width: 250px;
    height: 280px;
    border-radius: 4px;
    margin: 0 7px 12px 0;
    padding: 10px;
}

.product h6 {
    font-size: 22px;
    font-family: fantasy;
    margin: 0;
    margin-bottom: 5px;
}

.product img {
    width: 200px;
    height: 200px;
}